// === Variables ===
$primary: #f76c5f;
$seconday: #8bc0c4;

%primary-gradient {
  background: #ff9966; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ff5e62,
    #ff9966
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ff5e62,
    #ff9966
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
