.header {
  @extend %primary-gradient;
  padding: 0 2em;
}

.toolbar {
  justify-content: flex-start;
  background: white;
  &__button {
    color: $primary !important;
  }
}

// ==Overrides
footer {
  @extend %primary-gradient;
}

svg:hover {
  color: white !important;
}

.socialmediacallout {
  @extend %primary-gradient;
}

.socialmediacallout:hover {
  color: white;
}
