.header {
  // background-color: $primary;
  @extend %primary-gradient;
  padding: 0 2em;
}

.toolbar {
  justify-content: space-between;
  background: white;
  &__button {
    color: $primary !important;
  }
}

// ==Overrides
footer {
  @extend %primary-gradient;
}

svg:hover {
  color: white !important;
}

.socialmediacallout {
  @extend %primary-gradient;
}
